nav{
    background-color: #fff;
    font-size: 20px;
    
}

nav>div {
    justify-content: flex-end;
    color: rgb(122, 121, 121);
}

.nav-link >a, a:hover  {
    color: rgb(122, 121, 121);
    
    }

 .nav-link >a:hover {
    color: #D10029;
    transition: 0.5s;
    text-decoration: none;
 } 